<div>
    <!-- success -->
    <%if(flashMessage.success){%>
        <div class="alert alert-primary alert-dismissible" role="alert" id="liveAlert">
            <%= flashMessage.success%>
            <button class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    <%}%>
    <!-- failure -->
    <%if(flashMessage.fail){%>
        <div class="alert alert-primary alert-dismissible" role="alert" id="liveAlert">
            <%= flashMessage.fail%>
            <button class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    <%}%>
</div>